@import "variables";

.element{
  width: 25px;
  height: 25px;
  background-color: $pagin-in-color;
  border-radius: 50%;
  border: 2px solid $light-border-color;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.25);
  margin: 0 10px;
  cursor: pointer;
  &-active{
    background-color: $light-blue-color;
    cursor: default;
    scale: 1.2;
  }
}

.pagination{
  justify-content: center;
  display: flex;
}