$navbar-color: #013A63
$text-white-color: #FAF9F9
$light-border-color: #61A5C2
$back-dark-color: #E7ECEF
$back-light-color: #FAFAFA
$card-default-color: #FAF9F9
$blue-line-color: #01497C
$light-blue-color: #2C7DA0
$pagin-in-color: #D9D9D9